body{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif; 
}

.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1F2937;
    
}

.intro__header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 1400px;
    padding-top: 25px;
    
}

.intro__header__logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold; 
}

nav{
    display:flex;
    justify-content: space-between;
    width:  500px;
}

a{
    color: #E5E7EB;
    font-size: 18px;
}

.intro__main{
    width: 1400px;
    padding:150px;
    display: flex;
    justify-content: space-between;
}

.intro__welcome{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 175px;
}

.intro__welcome__main-text{
    margin-bottom: -10px;
    padding: 0;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.intro__welcome__subtext{
    margin: 0;
    padding: 0;
    width: 450px;
    color: #E5E7EB;
}

.intro__welcome__sign-up{
    padding: 5px;
    width: 100px;
    color: #F9FAF8;
    background-color: #3882F6;
    border: none;   
    border-radius:6px;
}

.images{
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images__main-text
{
    padding: 20px;
    font-size: 36px;
    font-weight:900;
}

.images__images
{
    width: 1000px;
    display: flex;
    justify-content: space-between;

}

.images__images__item{
    width: 200px;
    display: flex;
    flex-direction: column;
}

.item__subtext
{
    text-align: center;
}

.quote{
    height: 400px;
    background-color: #E5E7EB;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

blockquote{
    font-size:36px;
    width: 800px;
    font-weight:100;
    font-style: italic;
    color: #1F2937;
}

.quote__caption{
    width: 700px;
    display:flex;
    justify-content: flex-end;
}

figcaption{
    font-weight:bold;
}

.closer{
    height: 300px;
    display: flex;
    justify-content:center;
    align-items: center;
}

.closer__call-to-action{
    height: 100px;
    width: 1400px;
    background-color: #3882F6;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.closer__call-to-action__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h6{
    margin-top: 0px;
    margin-bottom: -10px;
    padding: 0;
    color:#F9FAF8;
    font-size: 18px;
}

.closer__call-to-action__text__subtext{

    margin-bottom: 0px;
    padding: 0;
    color:#F9FAF8;
    font-size: 12px;
}

.closer__call-to_action__button{
    height:30px;
    padding: 5px;
    width: 100px;
    border-radius:6px;
    border-color:#F9FAF8;
    background-color: #3882F6;
    color:#F9FAF8;
    border-style: solid;
}

footer{
    height: 100px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright{
    color:#F9FAF8;
}